{% extends "base.html" %}
{% load static %}
{% block site_title %}{{ block.super }} | Library {% endblock site_title %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'media/css/style.css' %}">
{% endblock extra_css%}

{% block content %}

    <h1> Universal Library </h1>
            <div class="row g-4">
                
                {% for item in all_media %}
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="card">
                        {% if item.cover  %}
                            <img class="card-img-top" src="{{item.cover}}" alt="Image of the {{item.get_media_type_display}}">
                        {% else %}
                            <div class="img_placeholder">Cover was not found</div>
                        {% endif %}    
                        <div class="card-body">
                            <a href="{{ item.get_absolute_url }}" class="card-title">
                                {{ item.title }} - {{ item.get_media_type_display }}
                            </a>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <h5> library is empty! </h5>
                {% endfor %}
            </div>
            
{% endblock content %}